snippet starter "C++ Starter Program" b
#include <iostream>
using namespace std;

int main() {
    ${0:return 0;}
}
endsnippet

snippet adjlist "Adjacency List" b
int n, m; 
cin >> n >> m;
vector<vector<int>> adj(n, vector<int>());
for (int i = 0; i < m; i++) {
    int u, v; 
    cin >> u >> v;
    adj[u].push_back(v);
    adj[v].push_back(u);
}
endsnippet

snippet array "Array" b
int N; cin >> N;
vector<int> v(N);
for(int i = 0; i<N; i++){
	cin >> v[i];
}
endsnippet
